
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*,
* ::before,
* ::after {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
 html {
     font-size: 62.5;
     font-family: "Jost", sans-serif;
 }
.main_div {
    width: 100vw;
    height: 100vh;
    background-color: pink;
    display: grid;
    place-items: center;
}

.music_container {
    width: 35rem;
    height: 55rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3rem;
    text-align: center;
}

.music_container #title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: pink;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.3);
}

.music_container #artist {
    color: violet;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 300;
}

.img-container {
    width: 25rem;
    height: 25rem;
    margin: auto;
}
img {

    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
}

.music_controls {
   width: 20rem;
   display: flex;
   justify-content: space-between;
   margin: auto;
   margin-top: 5rem;
   align-items: center;
}
.music_controls .fa {
    color: black;
    font-size: 2rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_controls .main-button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    color: blue;
    font-size: 1.4rem;
}
.music_controls .fa:hover
{
    color: gray;
}
.music_controls .fa-play:hover
{
    background-color: black;
    color: grey;
    box-shadow:0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
}

.anime
{
    animation: rotatePlayer 4s linear infinite infinite;
}

@keyframes rotatePlayer
{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

